@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans:wght@300&family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #746f6f;
}

.nav_li {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.size-flexend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding-left: 5px;
}

.backgroundcolor {
  background-color: white;
}

.paddingleftright {
  margin-left: 2em;
}

#fontcolor {
  color: #6e6c6c !important;
}

#fontcolor:hover {
  color: #f1bb46 !important;
}

#contactoeffect {
  background-color: lightgrey;
  border-radius: 30px;
  color: white;
}

#contactoeffect:hover {
  background-color: #f1bb46;
  border-radius: 30px;
  color: #6e6c6c;
}

/* ----------- MAIN ------------- */
.main {
  background-image: url("images/main_background01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media screen and (max-width: 512px) {
  .main .main__calltoaction {
    width: 100%;
    font-size: 30px;
  }
}

.main__container {
  width: 50%;
  height: 70%;
  border: solid 0px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__redes {
  border: solid 0px;
  width: 90%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  letter-spacing: 0.6px;
  color: #e6e9ee;
}

.main__redes—-bold {
  -webkit-text-stroke: 0px;
}

.main__calltoaction {
  border: solid 0px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #e6e9ee;
}

.main__calltoaction—-bold {
  -webkit-text-stroke: 0px;
}

.main__button {
  border: solid 1px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.main__button:hover {
  background-color: rgba(211, 211, 211, 0);
  color: prima;
}

/*-----------------MAINservicios--------------------*/
.main_servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  border: solid  0px;
}

#margin-bottonout {
  margin-bottom: 0em !important;
}

.img_services {
  width: 50%;
  height: 100%;
  background-image: url("images/services.jpeg");
  background-position: center center;
  background-size: cover;
}

.mis_servicios {
  width: 50%;
  height: 15%;
  padding: 20;
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0em;
}

#logoservicios {
  width: 56px;
  height: 50px;
  padding: 05px;
  margin: 02px;
  border: solid 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.servicios_father {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  width: 50%;
  height: 85%;
  padding: 0px;
  border: solid 0px;
}

.graphicdesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 40%;
  height: 40%;
  font-style: 14px;
  padding: 15px;
  border: solid  0px;
}

.titulo_servicios {
  font-size: 18px;
}

.titulo-descripción_servicios {
  color: #656565;
  text-align: left;
  padding-top: 5px;
}

.logosubsize {
  width: 18px;
  height: 16px;
  padding: 0px;
  margin: 02px;
  border: solid 0px;
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
}

@media screen and (max-width: 1029px) {
  .servicios_father {
    width: 70%;
  }
  .img_services {
    width: 30%;
  }
  .mis_servicios {
    width: 70%;
  }
}

@media screen and (max-width: 727px) {
  .servicios_father {
    width: 100%;
  }
  .img_services {
    width: 0%;
  }
  .mis_servicios {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .servicios_father {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    height: 84%;
    padding: 3px;
    margin: 0px;
    border: solid 0px;
    font-size: 15px;
  }
  .graphicdesign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 20%;
    font-style: 16px;
    padding: 8px;
    border: solid  0px;
  }
  .img_services {
    width: none;
    height: none;
    background-image: none;
    background-position: none none;
    background-size: none;
  }
  .mis_servicios {
    width: 100%;
  }
}

/*-----------------MAINtrabajos--------------------*/
.son_proyectos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 1 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 60px;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border: solid 0px;
}

.justify-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#stroke {
  -webkit-text-stroke: 0.5px black;
  color: transparent;
  font-size: 50px;
  font-weight: revert;
}

#son_conoceid {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: revert;
}

.son_tags {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2 / 1 / 2 / 5;
  margin-bottom: 4px;
}
 
.son_tags_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
}

.son_tags_row li {
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 7px;
  font-size: 10px;
  border: solid 0.1px;
  padding: 6px;
  font-family: 'Open Sans', sans-serif;
}

.ciirss {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / 3 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.ciiweb {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: 3 / 2 / 3 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.coaig {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: 3 / 3 / 3 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.easywayig {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: 3 / 4 / 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.ofeig {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: 4 / 1 / 4 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.petig {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: 4 / 2 / 4 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.humanizadosvideo {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: 4 / 3 / 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mundopsi {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: 4 / 4 / 4 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tba {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: 5 / 1 / 5 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arqmujia {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: 5 / 2 / 5 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marianacacci {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: 5 / 3 / 5 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.salvaje {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: 5 / 4 / 5 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1px;
  padding: 0px;
  border: solid 1px lightgrey;
}

.container_father {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-bottom: 1.8em;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

@media screen and (max-width: 625px) {
  .container_father {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
  }
  .son_proyectos {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 1 / 3;
    margin-top: 20px;
  }
  .son_tags {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 2 / 3;
    margin-bottom: 4px;
  }
  .ciirss {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 3 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3px;
  }
  .ciiweb {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 3 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3px;
  }
  .coaig {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 4 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3px;
  }
  .easywayig {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4 / 2 / 4 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3px;
  }
  .ofeig {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5 / 1 / 5 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .petig {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 5 / 2 / 5 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .humanizadosvideo {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 6 / 1 / 6 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mundopsi {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 6 / 2 / 6 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tba {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 7 / 1 / 7 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arqmujia {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 7 / 2 / 7 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .marianacacci {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 8 / 1 / 8 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .salvaje {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 8 / 2 / 8 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*-----------------MAINaboutme--------------------*/
.sizeaboutme {
  width: 33%;
  height: 100%;
  border: 1px black solid;
}

.backgroundsize {
  width: 33%;
  height: 35em;
}

.backgroundimg {
  background-image: url(images/aboutmepic.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3px;
}

/*-----------------MAINcontacto--------------------*/
.main_contacto {
  height: 91vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("images/contact.jpeg");
  background-size: cover;
}

.main_formulario {
  width: 50%;
  height: 60%;
  border: solid 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main_font_hablamos {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: white;
  -webkit-text-stroke: 1px white;
  letter-spacing: 1px;
}

.main_font_dejanos {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 528px) {
  #textareachico {
    width: 350px;
  }
}

/* --------- FOOTER --------- */
footer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 10.6em;
}

@media screen and (max-width: 673px) {
  footer footer {
    height: 100%;
  }
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 673px) {
  footer .footer .footer {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer .footer__name {
    padding: 10px;
    margin: 0px;
    width: 170px;
    height: 90px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer .footer__contacto {
    padding: 10px;
    margin: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer .footer__redes {
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer .footer__datafiscal--flex {
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
  }
  footer .footer .footer__copyright {
    font-size: 12px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-text-stroke: 0.5px;
  }
}

footer .footer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  margin: 0px;
  width: 170px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}

footer .footer__name--fontstyle {
  font-style: normal;
  -webkit-text-stroke: 1px;
}

footer .footer__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  margin: 0px;
  width: 330px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}

footer .footer__contacto--fontsyle {
  font-style: normal;
  -webkit-text-stroke: 1px;
}

footer .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  width: 180px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 17.4px;
}

footer .footer__redes--flex {
  margin: 2px 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Courier New', Courier, monospace;
}

footer .footer__redes--fontstyle {
  -webkit-text-stroke: 1px;
}

footer .footer__redes--imgflex {
  margin: 0px 0;
  padding: 0px;
  width: 120px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer__redes--imgsize {
  width: 100%;
  height: 100%;
}

footer .footer__datafiscal--flex {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
}

footer .footer__datafiscal--fontsize {
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  -webkit-text-stroke: 0,2px;
}

footer .footer__datafiscal--img {
  width: 60%;
  height: 60%;
}

footer .footer__copyright {
  width: 100vw;
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  margin-bottom: 0rem;
}

@media screen and (max-width: 673px) {
  footer {
    height: 100%;
  }
  footer .footer {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__name {
    padding: 10px;
    margin: 0px;
    width: 170px;
    height: 90px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__contacto {
    padding: 10px;
    margin: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__redes {
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__datafiscal--flex {
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
  }
  footer .footer__copyright {
    font-size: 12px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-text-stroke: 0.5px;
  }
}
/*# sourceMappingURL=style.css.map */