
.backgroundaboutme  {
    background-image: url(/images/backgroundaboutmereal.jpg);
    background-size:cover;
}
.father__main--flex {

display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
height: 90vh;

    .son__enfoqueimg--size { 
        width: 30vw;
        height: 30vh;
        border: 0px solid;
        object-fit: contain;
    }
    img { 
        width: 100%;
        height: 100%;
    }
    .son__enfoque--size {
        background-color: rgba(255, 255, 255, 0%);
        width: 80vw;
        height: 50%;
        padding-left: 15px;
        padding-right: 15px;
        .enfoque__fontsize {
            font-size: 28px;
            font-family: 'Montserrat';
       }
         .enfoque__h2--fontsize {
             font-size: 18px;
             font-family: 'Montserrat';
             line-height: 30px;
        }
        }

}

@media screen and (max-width: 996px) {

    .father__main--flex {

        height: 90vh;
        width: 100%;
        
            .son__enfoque--size {
                width: 90vw;
                height: 50%;
                padding-left: 0px;
                padding-right: 0px;
                .enfoque__fontsize {
                    font-size: 18px;
               }
                 .enfoque__h2--fontsize {
                     font-size: 14px;
                     line-height: 30px;
                }
                }
        
        }

}

@media screen and (max-width: 661px) {

    .father__main--flex {

        justify-content: flex-start;
        height: 100vh;
        width: 100%;
        
            .son__enfoque--size {
                width: 90vw;
                height: 50%;
                padding-left: 0px;
                padding-right: 0px;
                .enfoque__fontsize {
                    font-size: 16px;
               }
                 .enfoque__h2--fontsize {
                     font-size: 14px;
                     line-height: 30px;
                }
                }
        
        }

}

@media screen and (max-width: 471px) {

    .father__main--flex {

        
            .son__enfoque--size {
                width: 90vw;
                height: 50%;
                padding-left: 0px;
                padding-right: 0px;
                .enfoque__fontsize {
                    font-size: 16px;
               }
                 .enfoque__h2--fontsize {
                     font-size: 14px;
                     line-height: 30px;
                }
                }
        
        }

}
        